<div class="min-w-full pt-10 bg-notWhite">
  <p class="text-4xl font-bold text-center">Prosjekter</p>
  <mat-grid-list cols="4" rowHeight="3:4">
    <div *ngFor="let project of projects">
      <mat-grid-tile>
        <div
          class="flex flex-col items-center p-1 border-2 border-blue rounded bg-white"
        >
          <img src="{{ project.img }}" class="rounded px-2 h-24" />
          <p class="text-lg font-semibold">{{ project.title }}</p>
          <p class="text-gray-500">{{ project.description }}</p>
        </div>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>
