<div class="mx-auto w-full">
  <div class="mx-8 py-5 justify-start max-w-3xl">
    <p class="text-3xl font-semibold">
      Velkommen til Spaniabosteds Intranettside
    </p>
    <p class="font-medium">
      Spaniabosted er et sertifisert eiendomsmeglerforetak og bistår nordmenn
      med kjøp og salg av bolig i Spania. Våre norske eiere har lang erfaring
      innen eiendomsmegling og vi kan bidra med god og nyttig informasjon om de
      ulike områdene og boligmarkedet. Eiendomsmeglerne i foretaket snakker
      norsk, svensk, engelsk og spansk. Vi har valgt å spesialisere oss på salg
      av nye boliger og jobber tett med utvalgte utbyggere som stiller våre krav
      om juridiske bestemmelser og bankgaranti. I tillegg har vi etablert et
      eget advokatkontor, som tar seg av det juridiske rundt selve
      eiendomsoverdragelsen. Du får hjelp med alt fra å opprette konto i spansk
      bank, til å søke om N.I.E. nummer, tegne husforsikring, opprette
      testamente samt å levere inn spansk selvangivelse. Vårt primærområde er på
      Costa Blanca sør, men vi hjelper også kunder andre steder i Spania. Vi har
      gode samarbeidspartnere på blant annet Costa del Sol, med både norske
      meglere, advokater og utbyggere.
    </p>
  </div>
  <app-projects></app-projects>
  <app-employees></app-employees>
</div>
